SLUS-21770/dumps
*.psd
*.rar
*.zip
*.bmp
*.sym
*.7z
/textures/SLUS-21770/replacements/- 1 2 user-customs
update/DATA/STADIUMS.DAT
textures/SLUS-21770/JSGME.ini
textures/SLUS-21770/.stignore
textures/SLUS-21770/.stfolder/syncthing-folder-f570d2.txt
textures/SLUS-21770/.stfolder/desktop.ini
*.ini
textures/SLUS-21770/replacements/sync.ffs_db
